body{
    width: 75%;
    background-color: white;
    margin: 0 auto;
}

div#szamcsikj{
    margin-left: 200px;
}

h2{
    margin:auto;
    margin-bottom: 15px;
    border: 6px double crimson;
    background-color: rgba(220, 20, 60, 0.65);
    width: 250px;
    text-align: center;
}

.hellotext{
    text-align: center;
    width: 400px;
    margin: 200px auto 10px;
    border: 3px solid rgb(160, 15, 15);
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    display: block;
}

p.hellotext{
    font-size: larger;
    margin-top: 15px;
    width: 500px;
}

.modvalasztogomb{
    margin: 50px auto;
    text-align: center;
}

.valasztogomb{
    margin: auto;
}

.ingameGomb{
    margin:auto;
}

#ingameGomb{
    margin: auto;
    margin-left: 595px;
    background-image: url('kepek/start.png');
    width: 275px;
    height: 225px;
}

.kepp{
    width: 250px;
    height: 250px;
    display: none;
}

#kep-bal{
    float: left;
}

#kep-jobb{
    float: right;
}

#next{
    height: 40px;
    margin-left: 425px;
    text-align: center;
    width: 200px;
    margin:auto;
    border: 5px solid rgb(103, 5, 2);
    border-radius: 10px;
    font-size: larger;
    background-color: rgba(103, 5, 2, 0.65);
    color: white;
}

.nevcedula{
    height: 40px;
    text-align: center;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    border: 5px solid rgb(160, 20, 15);
    border-radius: 10px;
    font-size: larger;
    background-color: rgba(160, 20, 15, 0.65);
    color: white;
}

#resigomb{
    margin: auto 650px;
}

#elet{
    margin: auto 590px;
}

@keyframes csik{
    from {width: 0px; color:rgb(75, 75, 75);}
    to {width: 890px; color: azure;}
}

@keyframes gombok{
    from {height: 0px; color: rgb(160, 20, 15);}
    to {height: 40px; color: white;}
}

@keyframes kockamaszkal{
    0% {background-color: white;}
    50% {background-color: darkblue;}
    100% {background-color: white;}
}

@keyframes keret{
    0% {background-color: white;}
    50% {background-color: red;}
    100% {background-color: rgb(125, 10, 30);}
}

.csik{
    height: 25px;
    text-align: center;
    width: 890px;
    margin-left:250px;
    margin-bottom: 1px;
    background-color: rgb(75, 75, 75);
    border: 5px double rgb(0, 0, 0);
    color: azure;
}

.szamok{
    font-size: larger;
}

table{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.jatekvege{
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    border: 5px dotted rgb(3, 49, 198);
    background-color: rgba(3, 48, 198, 0.65);
    border-radius: 35px;
}

#pont-szam{
    text-align: center;
}

#masikMod{
    height: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(205, 205, 205);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    animation-name: kockamaszkal;
    animation-duration: 400ms;
    animation-delay: 150ms;
}

#keretbal{
    height: 100%;
    width: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(205, 205, 205);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    animation-name: kockamaszkal;
    animation-duration: 400ms;
}

#keretjobb{
    height: 100%;
    width: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(205, 205, 205);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    animation-name: kockamaszkal;
    animation-duration: 400ms;
}
#keretalso{
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(205, 205, 205);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    animation-name: kockamaszkal;
    animation-duration: 400ms;
    animation-delay: 150ms;
}
