body{
    width: 75%;
    background-color: rgb(217, 217, 217);
    margin: 0 auto;
}

div#szamcsikj{
    margin-left: 200px;
}

h2{
    margin:auto;
    margin-bottom: 15px;
    border: 6px double crimson;
    background-color: rgba(220, 20, 60, 0.65);
    width: 250px;
    text-align: center;
}

.hellotext{
    text-align: center;
    width: 400px;
    margin: 200px auto 10px;
    border: 3px solid rgb(160, 15, 15);
    border-radius: 20px;
    display: block;
}

p.hellotext{
    font-size: larger;
    margin-top: 15px;
    width: 500px;
}

.modvalasztogomb{
    margin: 50px auto;
    text-align: center;
}

.valasztogomb{
    margin: auto;
}

.ingameGomb{
    margin:auto;
}

#resigomb{
    margin-left: 435px;
}

.kepp{
    width: 250px;
    height: 250px;
    display: none;
}

#kep-bal{
    float: left;
}

#kep-jobb{
    float: right;
}

#next{
    height: 35px;
    margin-left: 425px;
    text-align: center;
    width: 200px;
    margin:auto;
    border: 5px solid rgb(124, 160, 15);
    border-radius: 10px;
    font-size: larger;
    background-color: rgba(124, 160, 15, 0.65);
    color: white;
}

.nevcedula{
    height: 40px;
    text-align: center;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    border: 5px solid rgb(15, 15, 160);
    border-radius: 10px;
    font-size: larger;
    background-color: rgba(15, 15, 160, 0.65);
    color: white;
}

#resigomb{
    margin: auto 650px;
}

#elet{
    margin: auto 590px;
}

@keyframes csik{
    from {width: 0px;}
    to {width: 1027.5px;}
}

.csik{
    height: 25px;
    text-align: center;
    width: 1027.5px;
    margin-left:250px;
    background-color: rgb(75, 75, 75);
    border: 5px double rgb(0, 0, 0);
    color: azure;
}

.szamok{
    font-size: larger;
}

table{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.jatekvege{
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    border: 5px dotted rgb(3, 49, 198);
    background-color: rgba(3, 48, 198, 0.65);
    border-radius: 35px;
}

#pont-szam{
    text-align: center;
}